body
{
width : 99%;
background-color: #6E86D6;
font-size: 0.7em;
}		

#corps
{
max-width: 90%;
background-color: #4869D6;
padding : 10px;
margin: 10px;
border: 1px solid #B85D9;
}

a
{
color: #132A74;
}
a:visited
{
color: #132A74;
}

table, tr
{
   border-collapse: collapse;
}
td, th
{
   border: 1px solid black;
} 
