/*
###########################################################################
#	 This file is part of Oracle.
#
# 	Oracle is free software: you can redistribute it and/or modify
#	it under the terms of the GNU General Public License as published by
#	the Free Software Foundation, either version 3 of the License, or
#	(at your option) any later version.
#
#	Oracle is distributed in the hope that it will be useful,
#	but WITHOUT ANY WARRANTY; without even the implied warranty of
#	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#	GNU General Public License for more details.
#
#	You should have received a copy of the GNU General Public License
# 	along with Oracle.  If not, see <http://www.gnu.org/licenses/>.
#
###########################################################################
*/
body
{
width : 99%;
background-color: #6E86D6;
font-size: 0.7em;
}		

#corps
{
max-width: 90%;
background-color: #4869D6;
padding : 10px;
margin: 10px;
border: 1px solid #B85D9;
}

a
{
color: #132A74;
}
a:visited
{
color: #132A74;
}

table, tr
{
   border-collapse: collapse;
}
td, th
{
   border: 1px solid black;
} 
