body
{
width : 99%;
background-color: #086CA2;
font-size: 0.7em;
}		

#titre
{
background-repeat: no-repeat;
height: 80px;
}

#corps
{
max-width: 90%;
background-color: #64AAD0;
padding : 10px;
margin: 10px;
margin-left: auto; 
margin-right: auto; 
border: 1px solid #FFFFFF;
}

#float
{
float: right;
margin-top: 50px;
margin-right: 50px;
}

#footer
{
margin-left: auto; 
margin-right: auto; 
width: 80%;
text-align: center;
color: #FFFFFF;
}

#formulaire
{
border: 1px solid black;
float: right;
width: 100%
}

#recherche
{
margin: 0;
padding: 0;
float: left;
width: 33%;
}

#type
{
margin: 0 auto 0;
padding: 0;
float: left;
width: 33%;
}

#tri
{
margin: 0;
padding: 0;
float: right;
width: 33%;
}

a
{
color: #FFFFFF;
}

a:hover
{
text-decoration: none;
}

a:visited
{
color: #DDEEFF;
}

table
{
border-collapse: collapse;
margin: auto;
margin-bottom: 30px;
min-width: 100%;
}

tr:hover
{
background-color: #086CA2;
color: #FFFFFF;
}

th
{
background-color: #086CA2;
color: #FFFFFF;
}

td
{
text-align: center;
border: 1px solid black;
} 
