body
{
width : 99%;
background-color: #086CA2;
font-size: 0.7em;
}		

#titre
{
background-repeat: no-repeat;
height: 80px;
}

#corps
{
max-width: 90%;
background-color: #64AAD0;
padding : 10px;
margin: 10px;
margin-left: auto; 
margin-right: auto; 
border: 1px solid #B85D9;
}

#float
{
float: right;
margin-top: 50px;
margin-right: 50px;
}

#classement
{
float: right;
}

#footer
{
margin-left: auto; 
margin-right: auto; 
width: 80%;
text-align: center;
}

#formulaire
{
margin-left: 30px;
width: 25%;
padding: 10px;
}

a
{
color: #132A74;
}

a:visited
{
color: #132A74;
}

table, tr
{
   border-collapse: collapse;
   margin: auto;
   margin-bottom: 30px;
   min-width: 100%;
}
td, th
{
   border: 1px solid black;
} 
